{% extends "base.html" %}
{% block content %}
<!-- <div class="col-md-2"></div> -->
<div class="container col-md-4">

    <h5><b>Club Name: </b>{{ team.name }}</h5>
    <h5><b>Club Leader: </b> {{ team.owner }}</h5>
    {{ object.player.name }}


<h5>{{ player_request_count }} Locations in Itinerary for this Template</h5>
<table width="100%" border="1" cellspacing="5" cellpadding="5">  
  <tr>
    <td <b>Zipcode  &nbsp;</b> </td>
    <td <b>City  &nbsp;</b></td>
    <td <b>State  &nbsp;</b></td>
    <td <b>County  &nbsp;</b> </td>
    <td <b>Latitude  &nbsp;</b></td>
    <td <b>Longitude  &nbsp;</b> </td>
  </tr>


{% for p in player_request_list %}
  <tr>
    <td>{{ p.player.postalcode }}</td>
    <td>{{ p.player.city }}</td>
    <td>{{ p.player.state }}</td>
    <td>{{ p.player.county }}</td>
    <td>{{ p.player.latitude }}</td>
    <td>{{ p.player.longitude }}</td>
    <td><center><a href="{% url 'Team:deleterequest' p.pk %}" class="btn btn-primary btn-block">Remove from Itinerary</a></center><td>
  </tr>

{%  endfor %}


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    var markers = [
    {% for p in player_request_list %}

    {
        "title": '{{ p.player.city }}',
        "lat": '{{ p.player.latitude }}',
        "lng": '{{ p.player.longitude }}',
        "description": '{{ p.player.county }}'
    },
{%  endfor %}

    ];
    window.onload = function () {
        LoadMap();
    }
    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
 
        //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();
 
        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title
            });
 
            //Attach click event to the marker.
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>
<div id="dvMap" style="width: 300px; height: 400px">
</div>



{% endblock %}

    